@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-color: #1f2937;
  --text-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.dark ::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
  background: var(--bg-color);
}
